#basket
  .item_count
    %h2
      = pluralize current_basket.count, 'item'
  .view_basket
    = link_to 'View basket', basket_path(current_basket)
    
= render 'layouts/sidebar'

- @products.each do |product|
  - if product.display_on_homepage
    .product
      %h3
        .product-name
          = link_to product.name, product
        .price
          = "£#{product.price}"
        .add_item_button
          = form_for current_basket do |f|
            = hidden_field_tag(:product_id, product.id)
            = f.submit "Add to basket", class: "add_item_button"



